body {
  font: normal 12px/1.5 'Microsoft YaHei';
  color: #000;
  background-color: #eee; }

a {
  blr: expression(this.onFocus=this.blur());
  outline: none; }

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #333;
  outline: none;
  font-family: 'Microsoft YaHei'; }

ul {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none; }

.bgcolor03 {
  background-color: #333; }

.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ellips_line2,
.ellips_line3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.ellips_line2 {
  -webkit-line-clamp: 2; }

.ellips_line3 {
  -webkit-line-clamp: 3; }

.loading-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: -103px; }
  .loading-pos .vertical-center {
    width: 270px;
    height: 206px;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .loading-pos p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555; }
    .loading-pos p .major {
      display: block;
      font-size: 24px;
      color: #000; }
    .loading-pos p a {
      color: #1c3f98; }

.exception {
  position: absolute;
  width: 100%;
  padding-top: 6rem;
  height: auto; }
  .exception .vertical-center {
    text-align: center;
    font: normal 12px/18px 'Microsoft Yi Baiti';
    color: #333; }

.no-list-tips {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #999;
  padding-bottom: 70px; }

.noweb {
  text-align: center; }
  .noweb img {
    margin-top: 4.675rem; }
  .noweb p {
    margin: 0 auto;
    font: normal 0.8rem/1rem "Microsoft YaHei";
    width: 74%; }
    .noweb p a {
      color: #0d5ebd; }

.weui-infinite-scroll {
  display: none;
  margin-bottom: 2.7rem; }

.loading-error {
  padding-top: 40px;
  font-size: 14px;
  color: #333;
  text-align: center; }

.loading-error .icon-error {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../img/icon-error.png) no-repeat;
  background-size: 24px;
  vertical-align: -7px;
  margin-right: 4px; }

.error-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .error-box p {
    font: normal 18px/18px 'Microsoft YaHei'; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10600;
  width: 100%;
  height: calc(100% - (50px));
  height: -webkit-calc(100% - (50px));
  opacity: 0;
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  visibility: visible;
  background: 0 0; }

.pull-right {
  float: right; }

.weui_mask {
  z-index: 99997; }

.weui_dialog, .weui_toast {
  z-index: 99999; }

.weui-pull-to-refresh {
  margin-top: 0; }

.main {
  width: 1000px;
  margin: 0 auto; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.popup-channel .clear:after {
  clear: both;
  display: block;
  content: ' '; }
.popup-channel h3 {
  padding: 0 0.6rem;
  font: normal 0.8rem/1.75rem "Microsoft YaHei";
  background-color: #fff;
  margin: 0;
  color: #0d5ebd;
  position: relative; }
  .popup-channel h3 i.icon-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.75rem;
    height: 1.75rem;
    background: url(../../img/icon-close.png) no-repeat center;
    background-size: 14px;
    cursor: pointer; }
.popup-channel h4 {
  font: normal 0.6rem/1.25rem "Microsoft YaHei";
  background-color: #f2f2f2;
  margin: 0;
  color: #333;
  padding: 0 0.6rem; }
  .popup-channel h4.red {
    color: red; }
.popup-channel ul {
  margin: 20px 0 10px 0;
  padding: 0;
  position: relative; }
  .popup-channel ul li {
    float: left;
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    -webkit-animation: zoomIn 300ms ease; }
    .popup-channel ul li.total a {
      background-color: #EBEBEB; }
    .popup-channel ul li a {
      color: #333;
      background-color: #fff;
      border: 1px solid #ddd;
      margin: 0 5px;
      text-align: center;
      font-size: 14px;
      line-height: 32px;
      display: block; }
@media screen and (max-width: 350px) {
  .popup-channel .weui-popup-modal li a.min-font {
    font-size: 12px;
    margin: 0 3px; } }
@media screen and (min-width: 351px) and (max-width: 430px) {
  .popup-channel .weui-popup-modal li a.min-font {
    font-size: 12px; } }
@media screen and (max-width: 380px) {
  .popup-channel .weui-popup-modal li a.middle-font {
    font-size: 12px; } }

.popup-channel {
  z-index: 1000; }

html {
  -webkit-text-size-adjust: none; }

.page-group .page {
  z-index: 10400;
  background-color: #eee;
  position: absolute;
  width: 100%;
  top: 0; }
  .page-group .page .column .channel-container {
    width: 100%;
    padding: 0;
    height: 2rem;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll; }
    .page-group .page .column .channel-container .channel-wrapper {
      white-space: nowrap; }
      .page-group .page .column .channel-container .channel-wrapper .channel-slide {
        display: inline-block;
        width: auto;
        padding: 0rem 0.3rem;
        font: normal 0.8rem/2rem "Microsoft YaHei"; }
        .page-group .page .column .channel-container .channel-wrapper .channel-slide a {
          color: #333; }
        .page-group .page .column .channel-container .channel-wrapper .channel-slide.active a {
          color: #0d5ebd; }
  .page-group .page .column .channel-container::-webkit-scrollbar {
    display: none; }
  .page-group .page .more {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
    .page-group .page .more .icon-add {
      display: block;
      width: 20px;
      height: 20px; }
      .page-group .page .more .icon-add:before {
        content: '';
        background: url(../../../img/add.png) no-repeat 1px center;
        background-size: 0.8rem;
        display: block;
        width: 20px;
        height: 20px; }
    .page-group .page .more:before {
      content: '';
      width: 12px;
      height: 2rem;
      background-color: rgba(242, 242, 242, 0.5);
      position: absolute;
      left: -0.5rem; }
  .page-group .page .content .preloader {
    width: 1rem;
    height: 1rem;
    display: inline-block; }
  .page-group .page .content .card-container .card {
    margin: 0;
    padding: 0 0.6rem;
    box-shadow: 0 0;
    border-radius: 0; }
    .page-group .page .content .card-container .card:last-child .card-bottom {
      border: 0 !important; }
    .page-group .page .content .card-container .card:visited {
      background-color: #f6f5f5; }
    .page-group .page .content .card-container .card .card-header {
      padding: 0.5rem 0 0.3rem 0;
      min-height: 1.1rem; }
      .page-group .page .content .card-container .card .card-header a {
        font: normal 0.9rem/1.1rem "Microsoft YaHei";
        display: block;
        width: 100%;
        color: #000; }
        .page-group .page .content .card-container .card .card-header a:visited {
          color: #666; }
    .page-group .page .content .card-container .card .card-content .card-content-inner {
      font: normal 0.7rem/0.9rem "Microsoft YaHei";
      padding: 0; }
      .page-group .page .content .card-container .card .card-content .card-content-inner p {
        margin-bottom: 0.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        .page-group .page .content .card-container .card .card-content .card-content-inner p a {
          display: block;
          color: #666; }
    .page-group .page .content .card-container .card .card-bottom {
      border-bottom: 1px solid #d9d9d9 !important;
      min-height: 0.8rem;
      box-sizing: content-box;
      padding-bottom: 0.5rem;
      color: #999;
      font-size: 0.6rem; }
      .page-group .page .content .card-container .card .card-bottom .name {
        margin-right: 0.5rem; }
  .page-group .page .content .empty-data .nodata {
    text-align: center; }
    .page-group .page .content .empty-data .nodata p {
      margin: 0.5rem 0 0 0;
      font: normal 0.9rem/1.3rem "Microsoft YaHei";
      color: #333; }
    .page-group .page .content .empty-data .nodata span {
      font: normal 0.7rem/1rem "Microsoft YaHei";
      margin: 0;
      color: #666; }
  .page-group .page .content .infinite-scroll-preloader {
    display: none;
    margin-bottom: 2.7rem;
    line-height: 1rem;
    color: #333; }
    .page-group .page .content .infinite-scroll-preloader .preloader {
      margin-right: 2px;
      width: 1rem;
      height: 1rem;
      vertical-align: -5px; }
  .page-group .page .content .loading-large p {
    margin: 0.5em 0;
    color: #666; }
  .page-group .page .bar-tab {
    position: fixed;
    height: 50px;
    background-color: #f3f9ff;
    border-top: 1px solid #dbe7f5;
    -webkit-transform: translateY(0);
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
    .page-group .page .bar-tab .tab-item {
      color: #333;
      font-family: "Microsoft YaHei"; }
      .page-group .page .bar-tab .tab-item.active {
        color: #0d5ebd; }
      .page-group .page .bar-tab .tab-item .weui_tabbar_icon {
        padding: 0;
        width: 1.8rem;
        height: 0.75rem; }
        .page-group .page .bar-tab .tab-item .weui_tabbar_icon ~ .weui_tabbar_label {
          position: relative;
          top: .15rem;
          display: block;
          font-size: .55rem; }
      .page-group .page .bar-tab .tab-item .icon-news:before {
        content: '';
        background: url(../../../img/news.png) no-repeat left center;
        background-size: 1rem 0.85rem;
        display: block;
        width: 1rem;
        height: 18px;
        margin: 0 auto; }
      .page-group .page .bar-tab .tab-item .icon-report:before {
        content: '';
        background: url(../../../img/report.png) no-repeat left center;
        background-size: 0.85rem 1rem;
        display: block;
        width: 0.85rem;
        height: 18px;
        margin: 0;
        margin: 0 auto; }
      .page-group .page .bar-tab .tab-item.weui_bar_item_on .icon-news:before {
        background: url(../../../img/news-on.png) no-repeat left center;
        background-size: 1rem 0.85rem; }
      .page-group .page .bar-tab .tab-item.active .icon-report:before {
        background: url(../../../img/report-on.png) no-repeat left center;
        background-size: 0.85rem 1rem; }
  .page-group .page .bar-tab-hide {
    -webkit-transform: translateY(100%); }

.weui_dialog .weui_dialog_bd {
  background: #fff;
  padding: .75rem .75rem 0 .75rem;
  text-align: left; }
  .weui_dialog .weui_dialog_bd .modal-txt {
    font-size: 0.6rem;
    margin-bottom: 5px; }
  .weui_dialog .weui_dialog_bd .select input {
    vertical-align: -2px;
    margin-right: 4px; }

.page-group .bg-color01 {
  background-color: #fff; }
  .page-group .bg-color01 .page-content {
    padding-top: 2.2rem;
    overflow-y: auto;
    height: calc(100%);
    height: -webkit-calc(100%);
    -webkit-overflow-scrolling: touch; }
    .page-group .bg-color01 .page-content.ios-page-content {
      padding-top: 0; }
    .page-group .bg-color01 .page-content .detail-title {
      padding: 0 0.6rem;
      padding-bottom: 0.45rem;
      border-bottom: 1px solid #d9d9d9;
      background-color: #f6f5f5; }
      .page-group .bg-color01 .page-content .detail-title h4 {
        padding-top: 0.5rem;
        margin: 0;
        font: normal 0.9rem/1.1rem "Microsoft YaHei";
        color: #000;
        margin-bottom: 0.075rem; }
      .page-group .bg-color01 .page-content .detail-title span {
        font: normal 0.6rem/0.95rem "Microsoft YaHei";
        color: #666666; }
      .page-group .bg-color01 .page-content .detail-title p {
        font: normal 0.6rem/0.95rem "Microsoft YaHei";
        margin: 0;
        display: flex;
        color: #666; }
        .page-group .bg-color01 .page-content .detail-title p em {
          flex: 1;
          font: normal 0.6rem/0.95rem "Microsoft YaHei"; }
          .page-group .bg-color01 .page-content .detail-title p em a {
            color: #666; }
        .page-group .bg-color01 .page-content .detail-title p strong {
          width: auto;
          font: normal 0.6rem/0.95rem "Microsoft YaHei"; }
    .page-group .bg-color01 .page-content .detail-content {
      padding: 0.5rem 0.6rem; }
      .page-group .bg-color01 .page-content .detail-content p {
        margin: 0;
        font: normal 0.72rem/1.2rem "Microsoft YaHei";
        text-indent: 2em;
        color: #333; }
        .page-group .bg-color01 .page-content .detail-content p img {
          max-width: 100%;
          margin-left: -2em;
          height: auto; }
      .page-group .bg-color01 .page-content .detail-content span {
        font: normal 0.72rem/1.2rem "Microsoft YaHei"; }

.page-group.detail-page-group .bg-color01 .page-content {
  padding-top: 0; }

/*# sourceMappingURL=wechat.css.map */
