.page-group {
  .bg-color01 {
    background-color: #fff;
    .page-content {
      padding-top: 2.2rem;
      overflow-y: auto;
      height: calc(100%);
      height: -webkit-calc(100%);
      -webkit-overflow-scrolling: touch;
      &.ios-page-content {
        padding-top: 0;
      }
      .detail-title {
        padding: 0 0.6rem;
        padding-bottom: 0.45rem;
        border-bottom: 1px solid #d9d9d9;
        background-color: #f6f5f5;
        h4 {
          padding-top: 0.5rem;
          margin: 0;
          font: normal 0.9rem/1.1rem "Microsoft YaHei";
          color: #000;
          margin-bottom: 0.075rem;
        }
        span {
          font: normal 0.6rem/0.95rem "Microsoft YaHei";
          color: #666666;
        }
        p {
          font: normal 0.6rem/0.95rem "Microsoft YaHei";
          margin: 0;
          display: flex;
          color: #666;
          em {
            flex: 1;
            font: normal 0.6rem/0.95rem "Microsoft YaHei";
            a {
              color: #666;
            }
          }
          strong {
            width: auto;
            font: normal 0.6rem/0.95rem "Microsoft YaHei";
          }
        }
      }
      .detail-content {
        padding: 0.5rem 0.6rem;
        p {
          margin: 0;
          font: normal 0.72rem/1.2rem "Microsoft YaHei";
          text-indent: 2em;
          color: #333;
          img {
            max-width: 100%;
            margin-left: -2em;
            height: auto;
          }
        }
        span {
          font: normal 0.72rem/1.2rem "Microsoft YaHei";
        }
      }
    }
  }
}
.page-group.detail-page-group .bg-color01 .page-content {
  padding-top: 0;
}